body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: #EAAD94;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 25px;
    border-radius: 5px;
    width: 250px;
}
.res{
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    background-color: #EA7C4B;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
}
.cer{
    color: #FFFFFF;
    margin: 5px;
    border: none;
    border-radius: 3px;
    background-color: #EA7C4B;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
}